.DistanceAbout {
    position: absolute;
    margin-top: 50%;
}
.TitleAbout {
    position: absolute;
    top: 90%;
    left: 40%;
    width: 35%;
}

.shadow {
    position: absolute;
    top: 90%;
    right: 57%;
    width: 700px;
    max-width: max-content;
}

.Img {
    position: absolute;
    top: 98%;
    right: 57%;
    width: 35%;
}

.Conteudo {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 35%;
}


.DistanceBtm {
    display: flex;
    flex-direction: column;
}