.Distance {
    height: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 75%;
}

.Title {
    text-align: center;
}

.Desc {
    text-align: center;
    height: 5rem;
}

.Link {
    text-decoration: none;
    color: #69B99D;
}

.Card {
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;
    margin-right: 30px;
    width: 15rem;
    border-bottom-color: darkcyan;
    border-bottom-width: thick;
}
.CardImg {
    width: 45%;
}

.DistanceBottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}