@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form_container{
    width: 200%;
}

  .custom-link {
    background-color: transparent;
    color: #69B99D;
    border: none;
    text-decoration: underline;
  }
  
  .custom-link:hover {
    text-decoration: underline;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }

  @media screen and (max-width: 1171px) {
    .form_container{
      width: 20rem;
    }}

    .btn.bg-custom {
        color: white;
        background-color: #69B99D;
        width: 150px; /* Para ajustar à largura do conteúdo */
        display: block; 
        margin: 0 auto; 
        height: 55px;
    }
    